<!-- Default one for HTML5 Edit: we had to remove it coz it messed it up lol -->
<!DOCTYPE html>
<!-- The heights of the sidebar and content wouldnt go to 100%-->
<html>
  <head>
    <title>Dashboard</title>
    <!-- TODO Understand what the meta tags are for-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--mobile stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/client.js" defer></script>
  </head>

  <body>
    <div id="header"> <!-- using span so that it doesnt add a new line after it-->
      <div class="logo"><a href="#">Insidious<span>Canoe</span></a>
      </div>
    </div>

    <a class="mobile" href="#">MENU</a>

    <div id="container">
      <div class="sidebar">
        <ul id="nav">
          <li><a class="selected" href="#">Dashboard</a></li>
          <li><a href="#">Daily Planning</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Statistics</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>

      <div class="content">
        <h1>Dashboard</h1>
        <p>Wanna <a href="https://glitch.com/edit/#!/insidious-canoe">See</a> the source?</p>

        <div id="box">
          <div class="box-top">News</div>
          <div class="box-panel">
            This is some simple news:<br>
            Nulla lobortis suscipit lacus, eget faucibus diam suscipit quis. Curabitur ultrices nunc a mauris sagittis ornare. 
          </div>         
        </div>

      </div>
    </div>
  </body>
</html>
